<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.clean.app.shared</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.appLifecycle.iOS</string>
		<string>com.apple.dt.unit.languageChoice.app.iOS</string>
	</array>
	<key>SortOrder</key>
	<integer>80</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Override</key>
			<string>Swift</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>appLifecycle</string>
			<key>Override</key>
			<string>Cocoa</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Resources/Base.lproj/Main.storyboard</string>
		<string>Resources/Assets.xcassets</string>
		<string>Sources/Application/AppDelegate.swift</string>
		<string>Sources/Application/DIContainer/AppDIContainer.swift</string>
		<string>Sources/Application/Utils/AppConfiguration.swift</string>
		<string>Sources/Application/Utils/AppAppearance.swift</string>
		<string>Sources/Application/Presentation/AppFlowCoordinator.swift</string>
		<string>Sources/uiModules/SplashModule/SplashModule.swift</string>
		<string>Sources/uiModules/SplashModule/SplashDIContainer.swift</string>
		<string>Sources/uiModules/SplashModule/Presentation/SplashFlowCoordinator.swift</string>
		<string>Sources/uiModules/SplashModule/Presentation/SplashFlowIntent.swift</string>
		<string>Sources/uiModules/SplashModule/Presentation/Splash/SplashViewController.swift</string>
		<string>Sources/uiModules/SplashModule/Presentation/Splash/SplashViewModel.swift</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Sources/Application/AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>Application</string>
			</array>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			</array>
		</dict>
		<key>Sources/Application/DIContainer/AppDIContainer.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDIContainer.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>Application</string>
				<string>DIContainer</string>
			</array>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			</array>
		</dict>
		<key>Sources/Application/Utils/AppAppearance.swift</key>
		<dict>
			<key>Path</key>
			<string>AppAppearance.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>Application</string>
				<string>Utils</string>
			</array>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			</array>
		</dict>
		<key>Sources/Application/Utils/AppConfiguration.swift</key>
		<dict>
			<key>Path</key>
			<string>AppConfiguration.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>Application</string>
				<string>Utils</string>
			</array>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			</array>
		</dict>
		<key>Sources/Application/Presentation/AppFlowCoordinator.swift</key>
		<dict>
			<key>Path</key>
			<string>AppFlowCoordinator.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>Application</string>
				<string>Presentation</string>
			</array>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			</array>
		</dict>
		<key>Sources/uiModules/SplashModule/SplashModule.swift</key>
		<dict>
			<key>Path</key>
			<string>SplashModule.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>uiModules</string>
				<string>SplashModule</string>
			</array>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			</array>
		</dict>
		<key>Sources/uiModules/SplashModule/SplashDIContainer.swift</key>
		<dict>
			<key>Path</key>
			<string>SplashDIContainer.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>uiModules</string>
				<string>SplashModule</string>
			</array>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			</array>
		</dict>
		<key>Sources/uiModules/SplashModule/Presentation/SplashFlowCoordinator.swift</key>
		<dict>
			<key>Path</key>
			<string>SplashFlowCoordinator.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>uiModules</string>
				<string>SplashModule</string>
				<string>Presentation</string>
			</array>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			</array>
		</dict>
		<key>Sources/uiModules/SplashModule/Presentation/SplashFlowIntent.swift</key>
		<dict>
			<key>Path</key>
			<string>SplashFlowIntent.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>uiModules</string>
				<string>SplashModule</string>
				<string>Presentation</string>
			</array>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			</array>
		</dict>
		<key>Sources/uiModules/SplashModule/Presentation/Splash/SplashViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>SplashViewController.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>uiModules</string>
				<string>SplashModule</string>
				<string>Presentation</string>
				<string>Splash</string>
			</array>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			</array>
		</dict>
		<key>Sources/uiModules/SplashModule/Presentation/Splash/SplashViewModel.swift</key>
		<dict>
			<key>Path</key>
			<string>SplashViewModel.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>uiModules</string>
				<string>SplashModule</string>
				<string>Presentation</string>
				<string>Splash</string>
			</array>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			</array>
		</dict>
		<key>Resources/Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>SortOrder</key>
			<integer>98</integer>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			</array>
		</dict>
		<key>Resources/Assets.xcassets</key>
		<dict>
			<key>Path</key>
			<string>Assets.xcassets</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
