<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.clean.ios.base</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
		<string>com.apple.dt.unit.iosBase</string>
		<string>com.apple.dt.unit.appLifecycle.iOS</string>
		<string>com.apple.dt.unit.languageChoice.app.iOS</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>11.0</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Concrete</key>
			<string>0</string>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/Configuration/Info.plist</string>
				<key>PRODUCT_BUNDLE_IDENTIFIER</key>
				<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PACKAGENAMEASRFC1034IDENTIFIER___</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1</string>
				<key>IPHONEOS_DEPLOYMENT_TARGET</key>
				<string>11.0</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Override</key>
			<string>Swift</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>hasUnitAndUITests</string>
			<key>Name</key>
			<string>Include Tests</string>
			<key>NotPersisted</key>
			<true/>
			<key>SortOrder</key>
			<integer>300</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.cocoaTouchApplicationUnitTestBundle</string>
							<key>Name</key>
							<string>___PACKAGENAME___Tests</string>
						</dict>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.cocoaTouchApplicationUITestBundle</string>
							<key>Name</key>
							<string>___PACKAGENAME___UITests</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>appLifecycle</string>
			<key>Override</key>
			<string>Cocoa</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Resources/Base.lproj/LaunchScreen.storyboard</string>
		<string>Resources/___PACKAGENAME___-Assets.xcassets</string>
		<string>Configuration/Info.plist</string>
		<string>Configuration/___PACKAGENAME___.debug.xcconfig</string>
		<string>Configuration/___PACKAGENAME___.release.xcconfig</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>main.swift</key>
		<dict>
			<key>SortOrder</key>
			<integer>999</integer>
		</dict>
		<key>main.swift:main</key>
		<dict>
			<key>Beginning</key>
			<string></string>
			<key>End</key>
			<string></string>
		</dict>
		<key>Configuration/Info.plist</key>
		<dict>
			<key>Path</key>
			<string>Info.plist</string>
			<key>Group</key>
			<array>
				<string>Configuration</string>
			</array>
			<key>SortOrder</key>
			<integer>99</integer>
			<key>TargetIdentifiers</key>
			<array/>
		</dict>
		<key>Configuration/___PACKAGENAME___.debug.xcconfig</key>
		<dict>
			<key>Path</key>
			<string>debug.xcconfig</string>
			<key>Group</key>
			<array>
				<string>Configuration</string>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>TargetIdentifiers</key>
			<array/>
		</dict>
		<key>Configuration/___PACKAGENAME___.release.xcconfig</key>
		<dict>
			<key>Path</key>
			<string>release.xcconfig</string>
			<key>Group</key>
			<array>
				<string>Configuration</string>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>TargetIdentifiers</key>
			<array/>
		</dict>
		<key>Resources/___PACKAGENAME___-Assets.xcassets</key>
		<dict>
			<key>Path</key>
			<string>Assets.xcassets</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
		</dict>
		<key>Resources/Base.lproj/LaunchScreen.storyboard</key>
		<dict>
			<key>Path</key>
			<string>LaunchScreen.storyboard</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>SortOrder</key>
			<integer>101</integer>
		</dict>
	</dict>
</dict>
</plist>
