<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>9</string>
	<key>DefaultCompletionName</key>
	<string>Scene</string>
	<key>Summary</key>
	<string>This generates a template View and ViewModel for SwiftUI.</string>
	<key>Description</key>
	<string>This generates a template files for SwiftUI View. It consists of View and ViewModel.</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>View:</string>
			<key>Description</key>
			<string>The name of the view to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
			<key>Default</key>
			<string>Module1</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>sceneIdentifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneIdentifier___View</string>
			<key>Description</key>
			<string>The View name</string>
			<key>Identifier</key>
			<string>viewName</string>
			<key>Name</key>
			<string>View:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneIdentifier___ViewModel</string>
			<key>Description</key>
			<string>The ViewModel name</string>
			<key>Identifier</key>
			<string>viewModelName</string>
			<key>Name</key>
			<string>ViewModel:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
